<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>275473427847-317jf9lk76pj55fqlettmp5iib4klksp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275473427847-317jf9lk76pj55fqlettmp5iib4klksp</string>
	<key>API_KEY</key>
	<string>AIzaSyCD9uIQ_9HtW6oX7lVR6rwtxmTvZCP9-Jw</string>
	<key>GCM_SENDER_ID</key>
	<string>275473427847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dhl.CloneFoodTracker</string>
	<key>PROJECT_ID</key>
	<string>dhl-rn-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>dhl-rn-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275473427847:ios:84ca778d9ab0c17a</string>
	<key>DATABASE_URL</key>
	<string>https://dhl-rn-firebase.firebaseio.com</string>
</dict>
</plist>